.hover_div {
  display: inline-block;
  width: auto;
  box-sizing: border-box;
  padding: 1.5vw;
}

.hover_div a {
  color: #203d37;
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.48vw;
  line-height: 1.31vw;
  text-align: center;
}

.hover_div:hover {
  background-color: #ff9ffc;

}

.hover_div a:hover {
  text-decoration: underline !important;
}

.navbar_bg_set {
  height: 82.547px !important;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #f2ff7f !important;
  z-index: 9999999;
}

.svg-container {
  padding: 0.3vw 0.55vw !important;
  cursor: pointer !important;
  background: #203d37;
  margin: 0px !important;
  height: 82.547px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container img {
  width: 100%;
  height: 40px;

}

.navbar-brand {
  margin-right: 0px !important;
  padding: 0px !important;
}

.logo2 {
  width: 11.11vw;
  height: 4.3vw;
}

#about_mr {
  margin-right: 50px;
}

.svg-container:hover {
  background: #ff9ffc !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus-visible {
  border: none !important;
}

.active {
  background-color: #ff9ffc !important;
  text-decoration: underline !important;
}


.close-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.close-icon.show {
  display: block;
  z-index: 101;
}

.close_btn {
  position: relative;
  font-family: "Poppins";
  font-size: 30px !important;
  font-weight: 700 !important;
  color: #203d37;
  top: -12;
  right: 1px;
}

/* Hide the hamburger button when the close icon is showing */
.hide-hamburger {
  display: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0 !important;
  box-shadow: none !important;
}

@media screen and (max-width: 768px) {
  .navbar_mobile{
    background-color: #f2ff7f;
  }
  .svg-container {
    width: 65px;
  }

  .svg-container img {
    width: 50px !important;
    height: 36px !important;
  }

  #about_mr {
    margin-right: 0px;
  }

  .home_class {
    display: block;
  }

  .navlink {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 5.3vw !important;
    line-height: 12.8vw !important;
    font-weight: 700 !important;
  }

  /*   .svg-container img {
    width: 50px !important;
    height: 42px !important;
    padding: 14px 11px !important;
    margin-right: 0px !important;
  } */

  .logo2 {
    width: 160px;
    height: auto;
    margin-top: 0.6vw;
  }

  .hover_div:hover {
    background-color: #ff9ffc;
    width: fit-content;
    margin: 0 auto;
    text-decoration: underline;
    margin-bottom: 0px;
  }

  .hover_div {
    margin-top: 15px;
  }

  #about_mr {
    margin-bottom: 15px;
  }
}