@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;

}
*{
  padding: 0 !important;
  margin: 0 !important;
}
.multiple_people_video{
  border-radius: 7.46612px !important;
  background: rgba(241, 241, 241, 0.04);
  box-shadow: 9.95483px 9.95483px 0px #eeff67;
}


